.logo-header{
	padding-left: 10px;
	font-size:20px;
	margin-top: 15px;
}
.navbar-brand{
	padding:0px!important;
}
.product-card{
	border:2px solid whitesmoke;
	border-radius: 10px;
	padding-top:15px;
	min-height:300px;
}
.service-card{
	border:2px solid #F05F40;
	border-radius: 10px;
	padding-top:15px;
}
.card_header{
	background-color: #F05F40;
	color:white;
}
.product-description{
	font-size: 14px;
	text-align: left;
	padding: 5px;
}
.copyright{
	text-align: center;
}
.website_link{
	background-color: white;
	color:#F05F40;
	padding:5px;
}
.back-to-top {
    background: none;
	margin: 0;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 70px;
	height: 70px;
	z-index: 100;
	display: none;
	text-decoration: none;
	color:#444;
	background-color: transparent;
}
.back-to-top i{
	font-size: 60px;
	border-radius: 1px solid whitesmoke;
}

@media only screen and (max-width: 800px){.logo-header{font-size:14px!important;}}